@page "/"

<h3>Topic</h3>

<ul class="list-group list-group-flush">
  <li class="list-group-item"><a href="https://learn.microsoft.com/en-us/dotnet/architecture/blazor-for-web-forms-developers/components" target="_blank">component structure</a></li>
  <li class="list-group-item"><a href="https://chrissainty.com/3-ways-to-communicate-between-components-in-blazor/" target="_blank">"parameter" in blazor</a></li>
</ul>
